@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

h1{
    font-family: 'Ranchers', cursive;
    text-align: center;
    letter-spacing: 4px;
}
p{
    font-family: 'Ranchers', cursive;
    letter-spacing: 2px;
}